table {
  width: 100%;
  height: 100%;
}

.main-header {
  position: relative;
  width: 100%;
}

.header {
  position: absolute;
  width: 100%;
  margin: -40px 4px  -10px 0;
  height: 72px;
}

.card--shadow {
  height: 348px;
}
