<mat-toolbar>
  <mat-toolbar-row>
    <p> Dashboard</p>
    <div fxFlex fxLayout="row" fxLayoutAlign="flex-end flex-end" fxLayoutGap="4px">
      <div fxFlexfxLayout="row" fxLayoutAlign="start center" fxLayoutGap="2px">
        <mat-form-field [ngStyle]="{color:'#A4A29E'}">
          <input matInput placeholder="Search...">
        </mat-form-field>
        <button mat-icon-button mat-raised-button>
          <mat-icon [ngStyle]="{color:'#A4A29E'}">search</mat-icon>
        </button>
      </div>
      <div>
        <ul fxLayout="row" fxLayoutGap="24px" [ngStyle]="{color:'#A4A29E'}">
          <li>
            <button mat-icon-button>
              <mat-icon>dashboard</mat-icon>
            </button>
          </li>
          <li>
            <mat-icon matBadge="5" matBadgeColor="warn">notifications</mat-icon>
            <!-- Include text description of the icon's meaning for screen-readers -->
            <span class="cdk-visually-hidden"></span>
          </li>
          <li>
            <button mat-icon-button>
              <mat-icon>person</mat-icon>
            </button>
          </li>
        </ul>
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
