.header {
  position: relative;
  height: 250px;
  .header__icon {
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 34px;
  }
  .header__caption{
    p {
      padding: 12px 0 2px;
    }
  }
}


