<div class="sidebar">
  <mat-nav-list>
    <br>
    <div fxLayout="row"  fxLayoutAlign="start center" fxLayoutGap="10px">
      <img src="/../src/assets/images/angular-logo.png">
      <p>CREATIVE TIM</p>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>dashboard</mat-icon> Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>person</mat-icon> User Profile</a>
    <a mat-list-item routerLinkActive="list-item-active "  routerLink="/"><mat-icon>content_paste</mat-icon> Table List</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>library_books</mat-icon> Typography</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>bubble_charts</mat-icon>  Icons</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>location_on</mat-icon> Maps</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/"><mat-icon>notifications</mat-icon> Notifications</a>
  </mat-nav-list>
</div>

