<div class="sidebar">
  <mat-nav-list>
    <div fxLayout="row" fxLayoutAlign="start center" fxLayoutGap="10px" class="sidebar__header mb-20 ml-20 mt-14">
      <img src="../assets/images/angular_logo.png" alt="logo" width="26px" height="28px">
      <span class="font-size-18">CREATIVE TIM</span>
    </div>
    <mat-divider></mat-divider>
    <div class="sidebar__content color--gray mt-20 font-size-18">
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/"class="color--gray">
        <mat-icon>dashboard</mat-icon>
        Dashboard
      </a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/user-profile" class="color--gray">
        <mat-icon>person</mat-icon>
        User Profile</a>
      <a mat-list-item routerLinkActive="list-item-active " routerLink="/table-list" class="color--gray">
        <mat-icon>content_paste</mat-icon>
        Table List</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/" class="color--gray">
        <mat-icon>library_books</mat-icon>
        Typography</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/" class="color--gray">
        <mat-icon>bubble_charts</mat-icon>
        Icons</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/map" class="color--gray">
        <mat-icon>location_on</mat-icon>
        Maps</a>
      <a mat-list-item routerLinkActive="list-item-active" routerLink="/" class="color--gray">
        <mat-icon>notifications</mat-icon>
        Notifications</a>
    </div>
  </mat-nav-list>
</div>

