:host {
  .mat-icon{
    vertical-align: middle;
    margin-right: 20px;
  }
  .sidebar{
      position: fixed;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      width: 260px;
      background: #fff;
      box-shadow: 0 16px 38px -12px rgba(0,0,0,.56),0 4px 25px 0 rgba(0,0,0,.12),0 8px 10px -5px rgba(0,0,0,.2);
  }
}
  img {
    width: 50px;
    height: 50px;
    border-radius: 10%;
    padding-right: 10px;
  }
