mat-card {
  margin: 28px 10px 20px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 16px 38px -12px rgb(0 0 0 / 56%), 0 4px 25px 0 rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
.card-header{
  position: relative;
  height: 68px;
}
.header{
  width: 55px;
  height: 55px;
  position: absolute;
  margin: -54px 0 0;
}
.footer-blog {
  padding: 10px 12px 2px;
}
.icon{
  padding: 14px 0 2px 12px;
}

