<br>
<div  class="status-cards"  >
    <app-dashboard-cards  ></app-dashboard-cards>
</div>
  <br>
<!--Graph-->
  <div  class="status-graphs">
    <app-dashboard-graphs></app-dashboard-graphs>
    <div>
<!--    <mat-divider></mat-divider>-->
<!--    <br>-->
<!--Table-->
<!--    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="18px" class="status-cards">-->
<!--      <app-dashboard-tables></app-dashboard-tables>-->
<!--      <mat-divider></mat-divider>-->
<!--      <div>-->
<!--        <div>Table</div>-->
<!--        <div>Pie Charts</div>-->
<!--      </div>-->
<!--    </div>-->




